.Rproj.user
.Rhistory
.RData
.Ruserdata
/publish.md
venv/*
zenpublish/node_modules/*
zenpublish/dist/*
python-package/zen_publish.egg-info/*
python-package/dist/*
/zenpublish/vsc-extension-quickstart.md
/zenpublish/test/*
/zenpublish/.vscode/*
/zenpublish/.vscodeignore
/zenpublish/.eslintrc.json
/zenpublish/CHANGELOG.md
/zenpublish/README.md
/zenpublish/extension.js
/zenpublish/jsconfig.json
/zenpublish/package-lock.json
/zenpublish/package.json
*.pyc
python-package/.eggs/*
python-package/build/*
python-package/venv/*
python-package/venv_test/*
python-package/dist/*
